.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 17vw;
    padding: 3vw;
    transition: .2s;
}
.container a{
    color: black;
    text-decoration: none;
}
h3{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: large;
    max-width: 30vw;
    margin: auto;
    text-align: center;
    padding: 3rem 0 .5rem 0;
    border-bottom: 1px solid #000;
}
.card:hover{
    transform: scale(1.05);
}
.card h4{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
    padding-top: 1.5rem;
}
.card .price{
    padding-top: .9rem;
    letter-spacing: 2px;
}
.card .img{
    max-height: 200px;
    max-width: 16vw ;
}
.img img{
    height: 200px;
    width: 100%;
    object-fit: contain;
}
.viewMore{
    padding-top: 12px;
    display: flex;
    align-items: center;
}
.viewMore svg{
    margin-left: .3rem;
}

 /* Media m */

 @media (max-width: 768px){
    .card{
        min-width: 50vw;
        padding: 1vw 3vw 8vw 3vw;
    }
    .card .img{
        max-height: 300px;
        max-width: 28vw ;
    }
}